<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button>
      
      </ion-back-button>
     
    </ion-buttons>
    <ion-title>Notificações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-card class="item-notification" ion-item *ngFor="let notification of notifications" >
     <ion-item>

  
        <ion-icon slot="start" name="{{notification.icone}}"></ion-icon>
  
       
        <p class="title-notification">{{notification.titulo}}</p> 
  
      
     </ion-item>
    <ion-card-content>
      <p class="title-notification">{{notification.descricao}}</p> 
    </ion-card-content>
    
    </ion-card>
     

   </ion-list>
</ion-content>
