<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <div class="title">
    <h4>Recuperação de senha</h4>
    <p>Enviaremos um email para você em alguns instantes</p>
  </div>

  <ion-input placeholder="Digite o email da sua conta" [(ngModel)]="email" class="primary-input"></ion-input>
  

  <div class="ion-margin-top">
    <ion-button expand="block" (click)="sendMail()">Enviar Email</ion-button>
  </div>

  <div class="ion-margin-top ion-text-center">
    <a (click)="dismiss()">Fechar</a>
  </div>
</ion-content>
   