 
<ion-header>
  
</ion-header>

<ion-content class="ion-padding ion-text-center">
    <img src="assets/icons/logo.png" class="logo" />
    <img src="assets/icons/logo_slider.png" class="slider" />

  

    <div class="ion-margin-top">
        <ion-button expand="block" class="ion-margin-top" (click)="loginAlt()" color="primary">FAZER LOGIN</ion-button>

        <ion-button expand="block" class="ion-margin-top" (click)="goFeed()" color="white">CONTINUAR COMO CONVIDADO</ion-button>
    </div>
</ion-content>