<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Endereço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nome de referência</ion-label>
    <ion-input [(ngModel)]="endereco.nome" placeholder="Exemplo: Casa, Trabalho, Hotel"></ion-input>
  </ion-item>

  
  
    <ion-item class="item">
      <ion-label position="floating">CEP</ion-label>
      <ion-input [(ngModel)]="endereco.cep" placeholder="Digite o CEP para adicionar automaticamente"
       type="number" (focusout)="getData()"></ion-input>  
      
    </ion-item>

    <ion-item class="item">
      <ion-label position="floating">Rua</ion-label>
      <ion-input [(ngModel)]="endereco.logradouro"></ion-input>  
      
    </ion-item>

    <ion-item class="item">
      <ion-label position="floating">Número</ion-label>
      <ion-input [(ngModel)]="endereco.numero" type="number"></ion-input>  
      
    </ion-item>

    <ion-item class="item">
      <ion-label position="floating">Complemento</ion-label>
      <ion-input [(ngModel)]="endereco.complemento"></ion-input>  
      
    </ion-item>

    <ion-item class="item">
      <ion-label position="floating">Bairro</ion-label>
      <ion-input [(ngModel)]="endereco.bairro"></ion-input>  
      
    </ion-item>

    <ion-item class="item">
      <ion-label position="floating">Cidade</ion-label>
      <ion-input disabled [(ngModel)]="cidade"></ion-input>  
      
    </ion-item>

    <ion-item class="item">
      <ion-label position="floating">Estado</ion-label>
      <ion-input disabled [(ngModel)]="estado"></ion-input>  
      
    </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="updateAdress()">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
